
#backspace{
  margin-top: auto;
  margin-bottom: auto;
}

#content{
  padding:10px;
}

.container{
  height:80%;
  width: 80%;
}

.input_video{
  display: none;
}

#model-controls{
  padding: 5px;
  min-width: 100%; 
  width: auto; 
  vertical-align: middle;
  white-space: nowrap;
  display:flex;
  justify-content: space-between;
}


#model-change{
  margin-top: auto;
  margin-bottom: auto;
}

#model-name{
  display: inline-block;
  padding: 10px;
}

.navbar{
  border-radius: 0px;
}

.navbar-brand{
  padding: 2px 15px;
}

.output_canvas{
  padding: 10px;
  width:640px;
  height:480px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
